@media (max-width: 1800px) {
  .connection__img {
    left: 320px;
  }
}

@media (max-width: 1620px) {
  .connection__img {
    left: 220px;
  }
}

@media (max-width: 1440px) {
  .tariff__card {
    width: 330px;
  }

  .promo__img {
    width: 60%;
  }

  .promo__content {
    width: 40%;
  }

  .connection__img {
    left: 190px;
  }
}

@media (max-width: 1320px) {
  .container {
    width: 85%;
  }

  .connection__img {
    left: 115px;
  }
}

@media (max-width: 1024px) {
  .about__img {
    width: 50%;
    height: 80%;
  }

  .about__title {
    margin-bottom: 50px;
  }

  .about__list {
    gap: 30px;
  }

  .footer__main .container {
    display: flex;
    justify-content: space-around;
    gap: 0px;
  }

  .connection__img {
    display: none;
  }

  .connection__list {
    justify-content: space-between;
    gap: 15px;
  }

  .connection__step-main {
    margin-top: 0;
  }

  .connection__step_img {
    width: 215px;
  }

  .tariff__list {
    margin-right: -10%;
    overflow: hidden;
  }

  .connection__list {
    overflow: hidden;
    margin-right: -10%;
  }

  .reviews__list {
    overflow: hidden;
    margin-right: -10%;
  }
}

@media (max-width: 854px) {
  .nav__list {
    gap: 25px;
  }

  .nav__link {
    font-size: 16px;
    line-height: 24px;
  }

  .promo__content {
    width: 50%;
  }

  .promo__img {
    width: 50%;
  }

  .subscribe .container {
    display: flex;
    flex-direction: column;
  }

  .subscribe__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .promo {
    padding-top: 120px;
  }

  .promo__title,
  .about__title,
  .tariff__title,
  .connection__title,
  .reviews__title {
    font-size: 32px;
    line-height: 40px;
  }

  .promo__text {
    font-size: 18px;
    line-height: 28px;
  }

  .about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .about__content {
    width: 100%;
  }

  .about__list {
    gap: 16px;
  }

  .about__item_img {
    width: 42px;
    height: 42px;
  }

  .about__item_title {
    font-size: 20px;
  }

  .tariff {
    padding: 50px 0;
  }

  .tariff__subTitle {
    font-size: 20px;
    line-height: 28px;
  }

  .slider-activ {
    display: flex;
  }

  .connection__step_text,
  .connection__step_text-main {
    font-size: 14px;
    line-height: 22px;
  }

  .reviews__content {
    gap: 100px;
  }

  .subscribe__title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-top: 30px;
  }

  .subscribe__img {
    width: 40%;
  }

  .subscribe__input {
    padding: 10px;
  }
}

@media (max-width: 640px) {
  .about__img {
    width: 70%;
  }

  .connection__list {
    overflow: hidden;
    margin-right: -10%;
  }

  .nav__toggle{
    display: block;
  }

  .nav__toggle label {
    display: block;
  }

  #nav__toggle:checked ~ .nav__list {
    display: flex;
  }

  .nav__list{
    display: none;
    position: relative;
  }

  .nav__list {
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 70px 80px;
  }

  #nav__toggle:checked ~ .nav__list {
    display: flex;
  }
}

@media (max-width: 425px) {

  .promo .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .promo__content {
    width: 100%;
  }

  .promo__img {
    width: 100%;
  }

  .about {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .about__title {
    margin-bottom: 40px;
  }

  .reviews__content {
    flex-direction: column-reverse;
    gap: 0;
    align-items: flex-end;
    margin-bottom: 40px;
  }

  .reviews__title {
    text-align: center;
  }

  .reviews__img {
    width: 55px;
  }

  .reviews__comment {
    width: 330px;
  }

  .triangle::after {
    left: 150px;
    top: 0;
  }

  .footer__support{
    gap: 30px;
  }

  .footer__main {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .footer__support {
    flex-direction: column;
  }
}
