* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  color: rgba(29, 37, 48, 1);
}

.container {
  width: 75%;
  margin: 0 auto;
  max-width: 1240px;
}

.header .container {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: 65px;
}

.nav__link {
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  /* color: rgba(29, 37, 48, 1); */
}

.nav__link:hover {
  color: rgba(104, 94, 214, 1);
}

.promo {
  background-image: url(/img/BG.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 125px;
  height: 100%;
}

.promo .container {
  display: flex;
  justify-content: space-between;
}

.promo__content {
  width: 50%;
}

.promo__title {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 25px;
}

.promo__title-violet {
  color: rgba(104, 94, 214, 1);
}

.promo__text {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 35px;
}

.promo__text-violet {
  font-weight: bold;
  color: rgba(104, 94, 214, 1);
}

.btn {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 24px;
  padding: 15px 30px;
  border-radius: 6px;
  border: 0;
  background-color: rgba(104, 94, 214, 1);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.about {
  background-color: rgba(242, 247, 255, 0.5);
  padding-top: 100px;
  padding-bottom: 85px;
}

.about .container {
  display: flex;
  gap: 80px;
}

.about__content {
  width: 50%;
}

.about__title {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 70px;
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about__item {
  display: flex;
  gap: 25px;
}

.about__item_title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 10px;
}

.about__item_text {
  font-size: 16px;
  line-height: 26px;
}

.tariff {
  padding: 100px 0;

}

.tariff__title {
  text-align: center;
  font-size: 46px;
  line-height: 64px;
  margin-bottom: 20px;
}

.tariff__subTitle {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 40px;
}

.tariff__list {
  display: flex;
  justify-content: space-between;
  
}

.tariff__card {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
  padding: 15px 35px 50px 35px;
}

.tariff__card_suptitle {
  font-size: 24px;
  line-height: 48px;
  color: rgba(104, 94, 214, 1);
  background-color: rgba(245, 246, 253, 1);
}

.tariff__card_title {
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 32px;
}

.tariff__card_text {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 45px;
}

.connection__title{
  font-size: 46px;
  line-height: 64px;
  text-align: center;
}

.connection__img{
  display: flex;
  justify-content: space-between;
}


.subscribe{
  background-image: url(/img/subscribeBG.png);
  background-repeat: no-repeat;
  background-position: center;

}

.subscribe .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.subscribe__content{
  width: 40%;

}

.subscribe__title{
  font-size: 33px;
  line-height: 41px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 30px;
}

.subscribe__input{
  font-size: 15px;
  line-height: 24px;
  color: rgba(71, 74, 87, 1);
  padding: 15px;
  border-radius: 5px 0px 0px 5px;
  border: 0;
}

.subscribe__btn{
  border-radius: 0px 5px 5px 0px;
  border: 0;
  padding: 15px 25px;
  background-color: rgba(24, 25, 31, 1);
  color: rgba(255, 255, 255, 1);
}

.subscribe__content form{
  display: flex;
}

.footer{
  background-color: rgba(29, 37, 48, 1);
  padding-top: 110px;
  padding-bottom: 80px;
}

.footer .container{
  display: flex;
}

.footer__support{
  display: flex;
  
}

.footer__title{
color: rgba(244, 245, 247, 1);
font-size: 20px;
line-height: 30px;
}

.footer__link{
  text-decoration: none;
  color: rgba(238, 239, 244, 1);
  font-size: 16PX;
  line-height: 26px;
}